/* Write your code here. */
.background-card {
  background-color: #f1f5f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 50px;
}
@media screen and (max-width: 576px) {
  .background-card {
    padding: 15px;
  }
}
.faqs-container {
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}
.heading-style {
  color: #cb8805;
  text-align: center;
}
